.header {
  background-color: #000;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  color: white;
  cursor: pointer;
}

.menu-btn {
  background-color: #f5b321;
  border: none;
  padding: 12px 24px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}