.online-order-section {
  background: #000;
  padding: 120px 60px;
}

.online-order-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.online-order-left {
  width: 45%;
}

.section-tag {
  color: #f5b321;
  font-size: 12px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.online-order-title {
  color: #7f7f7f;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 8px;
  line-height: 1.5;
}

.online-order-description {
  margin-top: 25px;
  color: #7c7c7c;
  line-height: 1.8;
  font-size: 15px;
  max-width: 450px;
}

.online-order-btn {
  margin-top: 35px;
  padding: 14px 28px;
  background: transparent;
  border: 1px solid #333;
  color: white;
  cursor: pointer;
}

.online-order-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.online-order-image {
  width: 520px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .online-order-section {
    padding: 80px 20px;
  }

  .online-order-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .online-order-left,
  .online-order-right {
    width: 100%;
  }

  .online-order-left {
    text-align: left;
  }

  .online-order-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .online-order-image {
    width: 280px;
    max-width: 100%;
  }

  .online-order-tag {
    font-size: 11px;
    letter-spacing: 4px;
  }

  .online-order-title {
    font-size: 28px;
    letter-spacing: 6px;
    line-height: 1.5;
    text-align: left;
    margin-top: 15px;
  }

  .online-order-description {
    font-size: 14px;
    line-height: 2;
    text-align: left;
    max-width: 100%;
    margin-top: 20px;
  }

  .online-order-btn {
    margin-top: 30px;
    padding: 12px 24px;
  }
}